body {
  color: white;
  background-color: cadetblue;
  margin: 0;
  padding: 8px;
  height: 100vh;
}

.post-container {
  padding: 2px;
  width: 600px;
}

h3 {
  margin-bottom: 2px;
}

p {
  margin-top: 6px;
}

@media (max-width: 600px) {
  body {
    max-width: 100%;
  }

  .post-container {
    width: 100%;
  }
}

a {
  color: #66ccff;
  word-wrap: break-word;
}

.important-links {
  color: rgb(75, 47, 75);
  padding: 10px 0;
}

img {
  margin-top: 10px;
  max-width: 300px;
}