body {
  color: white;
  background-color: cadetblue;
  margin: 0;
  padding: 8px;
  height: 100vh;
}

.post-container {
  padding: 2px;
  width: 600px;
}

h3 {
  margin-bottom: 2px;
}

p {
  margin-top: 6px;
}

@media (max-width: 600px) {
  body {
    max-width: 100%;
  }

  .post-container {
    width: 100%;
  }
}