<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cli-blg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <header>
    <h1>~{{ name }} cli-blg</h1>
    <h2>archive</h2>
    <a href="/" class="important-links">[home]</a>
    <ul>
      {% for month in months %}
        <li><a href="#" class="important-links">{{ month[0] + ' ' + month[1] }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
